# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
*.egg

# Environment variables
.env

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Local data (SQLite DB and backups)
data/
